<nav class="navbar navbar-default">
<div class="container-fluid">
     <div class="navbar-header">
       <a routerLink="/<recipes></recipes>" class="navbar-brand">Recipe Book</a>
     </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/recipes']"> Recipe</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
    </ul>
    <ul class="nav nav-bar navbar-right">
      <li class="dropdown" appDropdown>
        <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a >Save Data</a></li>
          <li><a  >Fetch Data</a></li>
        </ul>

      </li>
    </ul>
  </div>
</div>
</nav>
