<a [routerLink]="[index ]" 
routerLinkActive="active"
style="cursor: pointer" 
class="list-group-item clearfix"
>
  <div class="pull-left col-xs-9">
    <h4>{{recipe.name}}</h4>
    <p class="list-group-item-text">-{{recipe.description}}</p>
  </div>
  <span class="pull-right">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="max-height: 50px; min-width :66px;">
      </span>
</a>