<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--<app-recipe *ngIf="loadedMenu === 'recipe'"></app-recipe>
      <app-shopping-list *ngIf="loadedMenu === 'shoppingList'"></app-shopping-list>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>