<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>  
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeItem of recipeList; let i =index" 
                     [recipe]="recipeItem"
                     [index]="i">

    </app-recipe-item>
  </div>


</div>