<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #ingredientName>
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="text" id="amount" class="form-control"  #ingredientAmount>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" (click)="onAddIngredient()">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
